.main_header{
    background-color: #CCC;
    border-bottom: 2px solid #666;
}

.main_header_content{
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_header_content_logo{
    flex-basis: 100%;
    font-size: 3em;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    padding: 20px 0;
}

.main_header_content_menu{
    flex-basis: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_header_content_menu ul{
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main_header_content_menu ul li{
    list-style: none;
}

.main_header_content_menu ul li a{
    color: #FFF;
    background: #666;
    padding: 0 6px;
}

.main_header_content_menu ul li a:hover{
    background-color: #FFF;
    color: #666;
}

.main_blog_content{
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_blog_content_header{
    margin-top: 20px;
    flex-basis: 100%;
}

.main_blog_content_header h1{
    font-size: 1.4em;
    color: #CCC;
    background-color: #333;
    padding: 10px;
}

.main_blog_content_article{
    flex-basis: 100%;
    padding: 5px;
    background: #EBEBEB;
    margin-top: 20px;
}

.main_blog_content_article img{
    max-width: 100%;
}

.main_blog_content_article h2{
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.main_blog_content_article_actions{
    flex-basis: 100%;
    margin-top: 5px;
    text-align: right;
}

.main_blog_content_article_actions a {
    font-size: 1.2em;
    color: #999;
}

.main_blog_content_article_actions a:hover{
    color: #666;
}

.main_optin{
    margin-top: 20px;
    background-color: #333;
    color: #FFF;
    padding: 30px 0;
}

.main_optin_content{
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_optin_content header{
    flex-basis: 100%;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #CCC;
}

.main_optin_content form{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_optin_content form input{
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 1.1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    padding: 6px;
}

.main_optin_content form button{
    padding: 6px 10px;
    background-color: #999;
    color: #FFF;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 1em;
    font-weight: 300;
}

.main_gallery_content{
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_gallery_content header{
    flex-basis: 100%;
    font-size: 1.4em;
    color: #CCC;
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
}

.main_gallery_content article{
    flex-basis: 100%;
    margin-top: 10px;
}

.main_gallery_content article img{
    max-width: 100%;
}

.main_footer{
    background-color: #CCC;
    color: #666;
    margin-top: 20px;
    padding: 20px;
}

.main_footer_content{
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

.main_footer_content > header{
    font-size: 1.1em;
    font-weight: 300;
}