*, *:after, *:before{
    padding:0;
    margin:0;
    text-decoration:none;
    font-size: 1em;
    box-sizing:border-box;
}

.btn{
    padding: 8px;
    font-weight: normal;
    margin:0px 4px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    text-decoration:none;
}

.btn:hover{
    cursor:pointer;
}
.btn-green{
    background-color:#009933 ;
}
.btn-green:hover{
    background-color: #00cc66;
}
.btn-red{
    background-color: #cc0000;
}
.btn-red:hover{
    background-color:#ff3333;
}

.radius{
    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}