p{
    font-family: Arial, Helvetica, sans-serif;
}
.main-blog{
    max-width:calc(1000px);
    width:calc(96% - 80px);
    background-color: #ccc;
    padding: 40px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.main-blog header{
    flex-basis:100%;
}
.main-blog article{
    flex-basis:calc(50% - 40px - 20px);
    padding: 10px 20px;
    background-color: #333;
    color:#fff;
    margin: 10px auto;

}
.main-blog article h3{
    color:white ;
}
/* .main-blog p{
    color:green;
    text-align: center;
    font-size: 1.5em;
} */

.main-blog article p{
    font-size: 1.1em;
}

.title_medium_lighgray{
    color:#ccc;
    font-size: 1.4em;
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding-bottom:4px ;
}

@media(max-width:640){
    .main-blog article{
        flex-basis:calc(100% - 40px);
    }
}