*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
}
/* font-family: 'PT Sans', sans-serif;
font-family: 'Oswald', sans-serif; */